@import "tailwindcss";

body {
  background-color: #ffffff;
  font-family: 'Inter', sans-serif; /* A modern, clean font similar to the PDF */
  color: #1a202c; /* A dark, professional text color */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

