@import "tailwindcss";

:root {
  --brand-primary: #0A2A66;
  --brand-secondary: #153B8C;
  --brand-accent: #37C3FF;
  --brand-dark: #071B44;
  --brand-light: #E7F8FF;
}

body {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}
